@{
    ViewBag.Title = "ViewRequests";
    Layout = "~/Views/Shared/_LabAssistantLayout.cshtml";
}

<h2>Requests</h2>

@if (Model.Count > 0)
{
    <table>
        <tr>
            <th>No.</th>
            <th>Request ID</th>
            <th>Bloodgroup</th>
            <th>Recepient</th>
            <th>Quantity(Bags)</th>
            <th>Status</th>
            <th>Location</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model[i].requestID</td>
                <td>@Model[i].reqBloodGroup</td>
                <td>@Model[i].Recepient.name</td>
                <td>@Model[i].reqQuantity</td>
                <td>@(Model[i].reqStatus == 1 ? new HtmlString("<font color='orange'>Pending</font>") : new HtmlString( "<font color='red'>Rejected</font>") )</td>
                <td>@Model[i].location</td>
            </tr>
        }

    </table>
}
else
{
    <p class="msg info">No Requests Found...</p>
}

