@model List<BloodBankSystem.Models.Employee>
@{
    ViewBag.Title = "ViewEmployees";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>View Employees</h2>

@if (ViewBag.RemoveEmployeeStatus != null)
{
    <p class="msg done">@ViewBag.RemoveEmployeeStatus</p>
}

@if (Model.Count > 0)
{
    <table>
        <tr>
            <th>No.</th>
            <th>Donor ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Branch</th>
            <th>City</th>
            <th>Contact No.</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model[i].empID</td>
                <td>@Model[i].empName</td>
                <td>@Model[i].gender</td>
                <td>@Model[i].Branch.title</td>
                <td>@Model[i].city</td>
                <td>@Model[i].contactNo</td>
                <td><a href="/Manager/UpdateEmployee/@Model[i].empID">Update</a></td>
                <td><a href="/Manager/RemoveEmployee/@Model[i].empID">Remove</a></td>
            </tr>
        }

    </table>
}
else
{
    <p class="msg info">No Employees Found...</p>
}

